# -------- Core ML --------
torch==2.2.1
torchdata==0.7.1
triton==3.0.0

# -------- Graph --------
torch_geometric==2.5.3
dgl==2.1.0

# -------- Data & Math --------
numpy==1.26.4
scipy==1.14.0
pandas==2.2.2
scikit-learn==1.5.1
networkx==3.3

# -------- Visualization --------
matplotlib==3.9.1
plotly==5.23.0
graphviz==0.20.3

# -------- ML Utils --------
catboost==1.2.5
joblib==1.4.2
tqdm==4.66.4

# -------- Notebook --------
ipython==8.26.0
ipykernel==6.29.5
jupyter_client==8.6.2
jupyter_core==5.7.2

# -------- System --------
packaging==24.1
typing_extensions==4.12.2
PyYAML==6.0.1
requests==2.32.3
